* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 12vh;
}

nav div {
  padding: 2rem;
}

nav div h1 {
  text-transform: uppercase;
  font-family: "Inconsolata";
}

nav ul li {
  display: inline;
  list-style: none;
  margin: auto 1rem;
  cursor: pointer;
  padding: 10px;
}

nav ul li:hover {
  background-color: red;
  box-shadow: 2px 2px 2px black;
  font-size: 17px;
}

nav ul li.active {
  background-color: red;
}

nav ul a {
  text-decoration: none;
  color: black;
}

main#contactUsMain {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main div#contactUs {
  background-color: red;
  width: fit-content;
  min-width: fit-content;
  max-width: 60vw;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 25px;
}

main div#contactUs form {
  text-align: center;
}

main div#contactUs form input {
  width: 100%;
  margin: 5px 0;
  background-color: aqua;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

main div#contactUs form textarea {
  margin: 5px 0;
  max-width: 30vw;
  max-height: 30vh;
}

main div#programs div#devOpsDetails {
  background-color: yellow;
  width: 50vw;
  height: 50vh;
  margin: auto;
  position: absolute;
  top: 25vh;
  left: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 50px;
  visibility: hidden;
}

main div#programs div#devOpsDetails span.closeModal {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: xx-large;
  cursor: pointer;
}
